.app-chat {
  position: fixed;
  bottom: 1rem;
  right: 0.5rem;
  width: 220px;
  background: orange;
  height: auto;
  min-height: 40px;
  border-radius: 4px;
  overflow: hidden;

  box-shadow: 0px 0px 10px 0px;
  border: 0px;
}
